body {
  background: #333;
}

.container {
  margin: 15% auto 0;
  max-width: 630px;
  border-radius: 3px;
  background: rgba(0, 0, 0, 0.2);
  color: #fff;
  font: 24px/1.5 'museo-sans', serif;
  text-align: center;
  z-index: 1;
}
.container p {
  padding: 15px 0;
}
.cover {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-repeat:no-repeat;
  background-attachment:fixed;
  background-position:center;
  -webkit-background-size:cover;
  -moz-background-size:cover;
  -o-background-size:cover;
  background-size:cover;
  -webkit-filter: blur(40px);
  -webkit-transition-duration: 120s;
  opacity: 0;
}
